<ion-view>
<ion-nav-title> <h4 class="title-colour"> Instructions </h4>
</ion-nav-title>
	<ion-content class="has-subheader has-header">
	<ion-list>
	    <br>
		<div class="list-block">
	        <ul>
	            <li class="instructions_low">
	                      <div class="row">
	                        <div class="col col-10">
	                        <div class="item-media instructions_stats-value low">1</div>
	                        </div>
	                        <div class="col">
	                        <div class="item-inner">
	                            <div class="item-title-row">
	                                <div class="item-title low">Nine steps</div>
	                            </div>
	                            <p> For each of the nine steps, you choose the option that matches the IVF situation you
	                                have in mind. This could either be your current situation, or a hypothetical situation. </p>
	                        </div>
	                        </div>
	                        </div>
	            </li>
	            <li class="instructions_medium">
	                      <div class="row" >
	                        <div class="col col-10">
	                        <div class="item-media instructions_stats-value medium">2</div>
	                        </div>
	                        <div class="col">
	                        <div class="item-inner">
	                            <div class="item-title medium">
	                                <div class="item-title">Medical information</div>
	                            </div> 
	                            <p> For some of the steps, you will need some clinical information, such as causes of infertility or proposed medication.</p>
	                        </div>
	                        </div>
	                        </div>
	            </li>
	            <li class="instructions_high">
	                      <div class="row" >
	                        <div class="col col-10">
	                        <div class="item-media instructions_stats-value high">3</div>
	                        </div>
	                        <div class="col">
	                        <div class="item-inner">
	                            <div class="item-title high">
	                                <div class="item-title">Percentage chance</div>
	                            </div>
	                            <p>After the nine steps, there is a summary page that lists the choices you made, together with the calculated percentage chance of a live birth for an IVF cycle. 
	                            </p>
	                        </div>
	                        </div>
	                        </div>
	            </li>
	            <li class="instructions_high">
	                    <a href="#" class="item-content">
	                        <div class="item-media instructions_stats-value high"></div>
	                                                                            </div>
	                    </a>
	            </li>
	        </ul>
	    </div>
    </ion-list>
	</ion-content>
</ion-view>	