<ion-view view-title="Home">
    <div class="white_background">
		<div class="center_vertical">
            <a href="information.html" style="text-decoration:none" class="action_image">
                <figure>
                    <img src="img/information.png"/>
                    <div class="home_text">
                        About the methodology
                    </div>
                 </figure>
            </a>
			&nbsp &nbsp &nbsp &nbsp
            <a href="#/tab/dash/results" style="text-decoration:none" class="action_image">
                <figure>
                    <img src="img/results.png"/>
                     <div class="home_text">
                        My results
                    </div>
                </figure>
            </a>
         </div>
    </div>
</ion-view>
