<ion-view title="Publications">
  <ion-slide-box>
    <ion-slide>
      <ion-content class="has-header " ng-class="{'has-subheader': !isAndroid}">
        <div style="height:100%">

          <h2 class="header"><strong>{{ titles[0] }}</strong></h2>

          <div class="card">
<div class="item item-divider">
                <pre>{{ overviewText[0] }} </pre>
</div>
          </div>

          <div class="card">
          <div class="item item-divider">
              <pre>{{ overviewText[1] }}</pre>
          </div>
            <div class="list list-inset">
              <div class="item">
                <pre><a class="open-browser-window" ng-click="openNewBrowserWindow(overviewLinks[0][0].link)">
                  {{ overviewLinks[0][0].text }}
                </a></pre>
              </div>

              <div class="item">
                <pre><a class="open-browser-window" ng-click="openNewBrowserWindow(overviewLinks[0][1].link)">
                  {{ overviewLinks[0][1].text }}
                </a></pre>
              </div>

              <div class="item item-divider">
                 <pre>{{ overviewText[2] }}</pre>
              </div>

              <div class="item">
                <pre><a class="open-browser-window" ng-click="openNewBrowserWindow(overviewLinks[1][0].link)">
                  {{ overviewLinks[1][0].text }}
                </a></pre>
              </div>

              <div class="item">
                <pre><a class="open-browser-window" ng-click="openNewBrowserWindow(overviewLinks[1][1].link)">
                  {{ overviewLinks[1][1].text }}
                </a></pre>
              </div>
            </div>

          </div>
          <div class="list list-inset">

    <div class="item">
      <a class="open-browser-window link link-indent" ng-click="openNewBrowserWindow(overviewLinks[2][0].link)">
            <span>
              {{ overviewLinks[2][0].text }}
            </span>
          </a>
    </div>

</div>
        </div>
      </ion-content>
    </ion-slide>


    <ion-slide>
      <ion-content class="has-header" ng-class="{'has-subheader': !isAndroid}">
        <div style="height:100%">

          <h2 class="header"><strong>{{ titles[1] }}</strong></h2>

          <div class="card">
            <div class="item item-text-wrap">
              <h2>
                {{ paperDownloadText }}
              </h2>
              <ul class="list-2">
                <li class="link">
                  <a class="open-browser-window" ng-click="openNewBrowserWindow(paperDownloadLink)">
                    Download Now 
                  </a>
                </li>
              </ul>
              <a class="open-browser-window" ng-click="openNewBrowserWindow(paperMoreInfoLink)">
                <span>More Info</span> 
              </a>
            </div>
          </div>


          <div class="card">
            <div class="item item-text-wrap">
              <strong><a class="open-browser-window" ng-click="openNewBrowserWindow(paperPLOSLink)">{{paperPLOSTitles[0]}}</a></strong>
              <br /> 
              {{ paperPLOSText[0] }}
              <br />
              <strong>{{paperPLOSTitles[1]}}<a href="#"></a></strong>
              <br />
              {{ paperPLOSText[1] }}
              <br />
              <strong>{{paperPLOSTitles[2]}}<a href="#"></a></strong>
              <br /> 
              {{ paperPLOSText[2] }}
              <br/>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-slide>


    <ion-slide>
      <ion-content class="has-header" ng-class="{'has-subheader': !isAndroid}">
        <div style="height:100%">
          <h2 class="header"><strong>{{ titles[2] }}</strong></h2>
          <div class="list card">
            <div class="item item-body">
              <img src="{{ researchPicture }}" class="full-image" />
            </div>

            <div class="item item-body">
              {{ researchText[0] }}
            </div>
            <div class="item item-body">
               {{ researchText[1] }}
                <a class="open-browser-window" ng-click="openNewBrowserWindow(contactLink)">
                  Contact us 
                </a>
              </h4>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-slide>
  </ion-slide-box>
</ion-view>
