<ion-view view-title="Calculator">
<ion-header-bar class="bar-light has-tabs-top">
Calculator
</ion-header-bar>
<div class="tabs-striped tabs-top tabs-background-light tabs-color-active-positive">
    <div class="tabs">
      <a class="tab-item active" href="#">
        Instructions
      </a>
      <a class="tab-item" href="#">
        Calculator
      </a>
    </div>
  </div>
<ion-content class="has-header">
                         <div class="tabs">
                            <!-- Instructions -->
                            <div class="tab active" id="instructions">
                                <div class="list-block no-margin media-list">
                                    <ul class="no-border">
                                        <li class="instructions_low">
                                                <a href="#" class="item-content">
                                                    <div class="item-media instructions_stats-value low">1</div>
                                                    <div class="item-inner no-border">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Nine steps</div>
                                                        </div>
                                                        <div class="item-text" id="wider">For each of the nine steps, you choose the option that matches the IVF situation you
                                                            have in mind. This could either be your current situation, or a hypothetical situation. </div>
                                                    </div>
                                                </a>
                                        </li>
                                        <li class="instructions_medium">
                                            <div class="swipeout-content">
                                                <a href="#" class="item-content">
                                                    <div class="item-media instructions_stats-value medium">2</div>
                                                    <div class="item-inner no-border">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Medical information</div>
                                                        </div>
                                                        <div class="item-text" id="wider">For some of the steps, you will need some clinical information, such as causes of infertility or proposed medication.</div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="instructions_high">
                                            <div class="swipeout-content">
                                                <a href="#" class="item-content">
                                                    <div class="item-media instructions_stats-value high">3</div>
                                                    <div class="item-inner no-border">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Percentage chance</div>
                                                        </div>
                                                        <div class="item-text" id="wider">After the nine steps, there is a summary page that lists the choices you made, together with the calculated percentage chance of a live birth for an IVF cycle.</div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
  </ion-content>             
</ion-view>
