<ion-view title="Publications">
  <ion-slide-box>
    <ion-slide>
      <ion-content class="has-header has-subheader">
        <div style="height:100%">

          <h2><strong>{{ titles[0] }}</strong></h2>

          <div class="card">
            <h5>
              <em>
                {{ overviewText[0] }}
              </em>
            </h5>
          </div>

          <div class="card">
            <p class="extra3">
              {{ overviewText[1] }}
            </p>

            <div class="list list-inset">
              <div class="item">
                <pre><a href="{{ overviewLinks[0][0].link }}" target="_new">
                  {{ overviewLinks[0][0].text }}
                </a></pre>
              </div>

              <div class="item">
                <pre><a href="{{ overviewLinks[0][1].link }}" target="_new">
                  {{ overviewLinks[0][1].text }}
                </a></pre>
              </div>

              <div class="item item-divider">
                {{ overviewText[2] }}
              </div>

              <div class="item">
                <pre><a href="{{ overviewLinks[1][0].link }}" target="_new">
                  {{ overviewLinks[1][0].text }}
                </a></pre>
              </div>

              <div class="item">
                <pre><a href="{{ overviewLinks[1][1].link }}" target="_new">
                  {{ overviewLinks[1][1].text }}
                </a></pre>
              </div>
            </div>

          </div>
          &nbsp&nbsp&nbsp
          <a href="{{ overviewLinks[2][0].link }}" target="_new" class="link link-indent">
            <span>
              {{ overviewLinks[2][0].text }}
            </span>
          </a>

        </div>
      </ion-content>
    </ion-slide>


    <ion-slide>
      <ion-content class="has-header has-subheader">
        <div style="height:100%">

          <h2><strong>{{ titles[1] }}</strong></h2>

          <div class="card">
            <div class="item item-text-wrap">
              <h2>
                {{ paperDownloadText }}
              </h2>
              <ul class="list-2">
                <li class="link">
                  <a href="{{ paperDownloadLink }}" target="_new">
                    Download Now
                  </a>
                </li>
              </ul>
              <a href="{{ paperMoreInfoLink }}" target="_new" class="link">
                <span>More Info</span>
              </a>
            </div>
          </div>


          <div class="card">
            <div class="item item-text-wrap">
              <strong><a href="{{ paperPLOSLink }}">{{paperPLOSTitles[0]}}</a></strong>
              <br /> 
              {{ paperPLOSText[0] }}
              <br />
              <strong>{{paperPLOSTitles[1]}}<a href="#"></a></strong>
              <br />
              {{ paperPLOSText[1] }}
              <br />
              <strong>{{paperPLOSTitles[2]}}<a href="#"></a></strong>
              <br /> 
              {{ paperPLOSText[2] }}
              <br/>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-slide>


    <ion-slide>
      <ion-content class="has-header has-subheader">
        <div style="height:100%">
          <h2><strong>{{ titles[2] }}</strong></h2>
          <div class="list card">
            <div class="item item-body">
              <img src="{{ researchPicture }}" class="full-image" />
            </div>

            <div class="item item-body">
              <h4>{{ researchText[0] }}</h4>
            </div>
            <div class="item item-body">
              <h4> 
               {{ researchText[1] }}
                <a href="{{ contactLink }}" target="_new">
                  Contact us
                </a>
              </h4>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-slide>
  </ion-slide-box>
</ion-view>
