/* Your app custom files in this file */

/* Changing key colour throughout app*/
#wider {
  height: 110px;
}

progress::-webkit-progress-value { background: #56A79C; }

progress {
  color: #0063a6;
  font-size: .6em;
  line-height: 1.5em;
  text-indent: .5em;
  height: 1.8em;
}

pre {
	white-space: pre-line;
    font-family: "Ionicons";
    src: url("../fonts/ionicons.eot?v=2.0.1");
    src: url("../fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("../fonts/ionicons.woff?v=2.0.1") format("woff"), url("../fonts/ionicons.woff") format("woff"), url("../fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
    font-weight: normal;
    font-style: normal; 
}

a {
	display:block;
}

.bar-green {
  background-color: #56A79C !important;
  color: white !important;
}

.tabbar a.active {
  color: #56A79C;
}

.searchbar .searchbar-cancel {
  color: #56A79C;
}

i.icon.icon-back-blue {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'><path d='M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z' fill='%2356A79C'/></svg>");
}

i.icon.icon-bars-blue {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42 26' fill='%2356A79C'><rect width='4' height='4'/><rect x='8' y='1' width='34' height='2'/><rect y='11' width='4' height='4'/><rect x='8' y='12' width='34' height='2'/><rect y='22' width='4' height='4'/><rect x='8' y='23' width='34' height='2'/></svg>");
}

i.icon.icon-next-blue {
  background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'><g><path fill='%2356A79C' d='M1,1.6l11.8,5.8L1,13.4V1.6 M0,0v15l15-7.6L0,0L0,0z'/></g></svg>");
}
i.icon.icon-prev-blue {
  background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'><g><path fill='%2356A79C' d='M14,1.6v11.8L2.2,7.6L14,1.6 M15,0L0,7.6L15,15V0L15,0z'/></g></svg>");
}
div.home_text {
  color: #808080;
}

.spinner svg {
  width: 19% !important;
  height: 85px !important;
}

.slider{
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important ;
  right: 0 !important;
}

.button {
  border: 1px solid #56A79C;
  color: #56A79C;
}

.button.active {
  background: #56A79C;
}

.list-block .item-link.list-button {
  color: #56A79C;
}

.range-slider input[type="range"]::-webkit-slider-thumb:before {
  background: #56A79C;
}

label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox:after,
label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox:after {
  background: #56A79C url("../img/i-form-checkbox-white.png") no-repeat center;
  -webkit-background-size: auto 9px;
  background-size: auto 9px;
}

.label-switch input[type="checkbox"]:checked + .checkbox {
  background: #56A79C;
}

.modal-button {
  color: #56A79C;
}

.actions-modal-button {
  color: #56A79C;
}

.slider-pagination-active {
  background: #56A79C;
}

.navbar a.link,
.toolbar a.link {
  color: #56A79C;
}

a {
  color: #56A79C;
}

.button:active {
  background: rgba(47, 79, 91, 0.15);
}

/* Icons */
i.tabbar-home-icon {
  width: 30px;
  height: 30px;
  background-image: url('../img/home.png');
}
.active i.tabbar-home-icon {
  background-image: url('../img/home_active.png');
}
i.tabbar-calculator-icon {
  width: 25px;
  height: 30px;
  background-image: url('../img/calculator.png');
}
.active i.tabbar-calculator-icon {
  background-image: url('../img/calculator_active.png');
}
i.tabbar-publications-icon {
  width: 30px;
  height: 30px;
  background-image: url('../img/publications.png');
}
.active i.tabbar-publications-icon {
  background-image: url('../img/publications_active.png');
}
i.tabbar-settings-icon {
  width: 25px;
  height: 30px;
  background-image: url('../img/settings.png');
}
.active i.tabbar-settings-icon {
  background-image: url('../img/settings_active.png');
}

i.icon.icon-profile {
  width: 29px;
  height: 29px;
  background-image: url('../img/profile.png');
}

i.icon.icon-reminder {
  width: 29px;
  height: 29px;
  background-image: url('../img/reminder.png');
}

i.icon.icon-info {
  width: 29px;
  height: 29px;
  background-image: url('../img/info.png');
}

i.icon.icon-data {
  width: 29px;
  height: 29px;
  background-image: url('../img/data.png');
}

i.icon.icon-demo {
  width: 29px;
  height: 29px;
  background-image: url('../img/demo.png');
}

i.icon.icon-privacy {
  width: 29px;
  height: 29px;
  background-image: url('../img/privacy.png');
}

i.icon.icon-plus {
  width: 21px;
  height: 21px;
  background-image: url('../img/plus.png');
}

i.arrow_down {
    width: 20px;
    height: 20px;
    background-image: url('../img/arrow.png');
    display: block;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

/*Puts checkbox to right side*/
.list-block .item-input {
    text-align: right;
}

/* Adjusts width of form items to stop cutting */
.list-block .item-title.label.wide {
    width: 60%;
}

.list-block input[type=datetime-local] {
    color: #808080;
}

.popup {
    background-color: #fff;
}

.list-block .item-title.blue {
    color: #56A79C;
}

.list-block .item-title.low {
    color: #50C099;
}
.list-block .item-title.medium {
    color: #5B8D9E;
}
.list-block .item-title.high {
    color: #6B5D79;
}
/* instructions questionnaire */

div.question {
    text-align: center;
}

div.content-block.instructions_question {
    margin: 8px 0;
}

div.content-block.instructions_question div.content-block-inner {
    padding: 10px 15px 10px 15px;
}

i.count1 {
  width: 40px;
  height: 50px;
  background-image: url('../img/1_of_5.png');
  display: block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

i.count2 {
  width: 40px;
  height: 50px;
  background-image: url('../img/2_of_5.png');
  display: block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

i.count3 {
  width: 40px;
  height: 50px;
  background-image: url('../img/3_of_5.png');
  display: block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

i.count4 {
  width: 40px;
  height: 50px;
  background-image: url('../img/4_of_5.png');
  display: block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

i.count5 {
  width: 40px;
  height: 50px;
  background-image: url('../img/5_of_5.png');
  display: block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

div.one_answer1inner, div.one_answer2inner, div.one_answer3inner, div.one_answer4inner, div.one_answer5inner, div.two_answer1inner, div.two_answer2inner, div.two_answer3inner, div.two_answer4inner, div.two_answer5inner, div.three_answer1inner, div.three_answer2inner, div.three_answer3inner, div.three_answer4inner, div.three_answer5inner, div.four_answer1inner, div.four_answer2inner, div.four_answer3inner, div.four_answer4inner, div.four_answer5inner, div.five_answer1inner, div.five_answer2inner, div.five_answer3inner, div.five_answer4inner, div.five_answer5inner  {
    padding: 9px;
}

div.answer1 {
    background-color: #eeeeee;
}

div.answer2 {
    background-color: #cccccc;
}

div.answer3 {
    background-color: #aaaaaa;
}

div.answer4 {
    background-color: #777777;
    color: #fff;
}

div.answer5 {
    background-color: #555555;
    color: #fff;
}

.answer1change {
    background-color: #50C099;
}

.answer2change {
    background-color: #56A79C;
}

.answer3change {
    background-color: #5B8D9E;
}

.answer4change {
    background-color: #607AA0;
}

.answer5change {
    background-color: #6B5D79;
}

.button.button-submit-blue {
    border-color: #56A79C;
    background: #56A79C;
    color: #fff;
    font-weight: bold;
}

.button.button-submit-blue:active {
    opacity: 0.6;
}

.button.button-cancel-red {
    border-color: #D81F22;
    background: #D81F22;
    color: #fff;
}

.button.button-cancel-red:active {
    opacity: 0.6;
}

/* instructions results */

div.instructions_top {
    margin-top: 44px;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: -30px;
}

div.instructions_top.pop-up {
    margin-top: 0px;
}

div.instructions_scale {
    float: left;
    display: inline-block;
    width: 10%;
}

div.instructions_scale img {
    height: 100px;
}

div.instructions_score {
    float: left;
    width: 50%;
    text-align: center;
}

div.instructions_score_number {
    font-size: 84px;
    line-height: 70px;
    padding-top: 10px;
}

div.instructions_score_desc {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

div.instructions_time_date {
    float: left;
    display: inline-block;
    width: 40%;
}

div.percentile {
}

div.percentile svg, div.percentile p {
    float: left;
    display: inline-block;
}

div.percentile p {
    width: 75%;
    padding-right: 10px;
}

svg.water_tank {
    margin: 1em 0 0 0;
}

div.percentile_text {
    float: left;
    width: 70%;
    padding-top: 10px;
}

div.percentile_pic {
    float: left;
    width: 30%;
    text-align: center;
}

div.percentile_pic img {
    height: 120px;
}

p.percentile_value {
    font-weight: bold;
    margin: 0;
}

div.instructions_title {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.instructions_questions_result {
    width: 100%;
    height: 25px;
    padding-top: 10px;
    display: block;
}
div.question_number {
    float:left;
    width: 10%;
    display: inline-block;
}

div.question_topic {
    float:left;
    width: 55%;
    display: inline-block;
}

div.question_result {
    float:left;
    width: 35%;
    display: inline-block;
}

div.question_number img {
    height: 20px;
    width: 20px;
}

div.scale {
    height: 20px;
    width: 20px;
    display: inline-block;
}

div.scale.one {
    background-color: #50C099;
}

div.scale.two {
    background-color: #56A79C;
}

div.scale.three {
    background-color: #5B8D9E;
}

div.scale.four {
    background-color: #607AA0;
}

div.scale.five {
    background-color: #6B5D79;
}

/* Log page */

div.white_background {
    background-color: #fff;
    text-align: center;
    height: 100%;
}

figure.action_image {
    text-align: center;
    display: inline-block;
}

figure.action_image img {
    width: 100px;
}

figure.action_image figcaption {
    color: #000;
    font-weight: bold;
}

div.center_vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

/* calculate log & result */

div.instructions {
    color: #6d6d72;
    padding: 6px;
    text-align: center;
    font-size: 10px;
}

div.button-padding {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

svg.calculate {
    height: 260px;
    width: 260px;
    margin-top: 6px;
}

div.calculate_top {
    margin-top: 44px;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: -30px;
}

div.calculate_top.pop-up {
    margin-top: 0px;
}

/* Statistics */

div.instructions_graph_container, div.calculate_graph_container {
    height: 205px;
    text-align: right;
    overflow: auto;
    overflow-y: hidden;
    direction:rtl;
    position: relative;
}

div.instructions_graph_container img, div.calculate_graph_container img {
    right: 0px;
    top: 0px;
    height: 200px;
    position: absolute;
}

div.instructions_axis {
    position: fixed;
    left: 0px;
    top: 0px;
}

div.calculate_axis {
    background-image: url('../img/calculate_axis.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 95% 0;
    height: 200px;
    width: 573px;
    z-index: 1000;
    color: #000;
}

div.no-margin {
    margin: 0 0;
}

div.instructions_stats-value, div.calculate_stats-value {
    font-size: 30px;
    font-weight: bold;
}

div.instructions_stats-value.high {
    color: #6B5D79;
}

div.instructions_stats-value.medium {
    color: #5B8D9E;
}

div.instructions_stats-value.low {
    color: #50C099;
}

div.calculate_stats-value.one {
    color: #C8D000;
}

div.calculate_stats-value.two {
    color: #FEDC39;
}

div.calculate_stats-value.three {
    color: #FDB52F;
}

div.calculate_stats-value.four {
    color: #FD8826;
}

div.calculate_stats-value.five {
    color: #D81F22;
}

li.instructions_high {
    border-left: #6B5D79 8px solid;
    border-top: 1px solid #6B5D79;
}

li.instructions_medium {
    border-left: #5B8D9E 8px solid;
    border-top: 1px solid #5B8D9E;
}

li.instructions_low {
    border-left: #50C099 8px solid;
    border-top: 1px solid #50C099;
}

li.calculate_one {
    border-left: #C8D000 8px solid;
    border-top: 1px solid #C8D000;
}

li.calculate_two {
    border-left: #FEDC39 8px solid;
    border-top: 1px solid #FEDC39;
}

li.calculate_three {
    border-left: #FDB52F 8px solid;
    border-top: 1px solid #FDB52F;
}

li.calculate_four {
    border-left: #FD8826 8px solid;
    border-top: 1px solid #FD8826;
}

li.calculate_five {
    border-left: #D81F22 8px solid;
    border-top: 1px solid #D81F22;
}

.list-block ul.no-border {
    border-top: 0;
}

.list-block .item-inner.no-border {
    border-bottom: 0;
}

.list-block .item-link:active .item-inner.no-border {
    border-bottom: 0;
}

div.results_list {
     overflow: auto;
     /*height: -webkit-calc(100% - 244px);
     height: calc(100% - 244px);*/
     height: 157px;
}

/* General */

*:not(input):not(textarea) {
-webkit-user-select: none;
-webkit-touch-callout: none;
}

.list-block .item-text {
    height: 20px;
    width: 180px;
}

.center {
    text-align: center;
}

div.textarea_label {
    color: #6d6d72;
    font-size: 12px;
    display: block;
}

.list-block .swipeout-actions-inner a.swipeout-delete {
  background: #D81F22;
}

div.clear {
    clear: both;
}

a.black {
    color: #000;
}

.list-block .swipeout-actions {
    border-bottom: 0;
}

.actions-modal-button.actions-modal-button-red, .actions-modal-label.actions-modal-button-red {
    color: #D81F22;
}

/* Appointment summary */

span.date {
    color: #56A79C;
    font-weight: bold;
}

span.notes {
    color: #6d6d72;
}

div.privacy {
    width: 50px;
}

div.privacy_padding {
    padding-top: 20px;
}

div.delete_option {
    color: #D81F22;
    text-align: center;
    width: 100%;
}

div.list-block .item-after.color-turquoise {
    color: #56A79C;
}
    
#one, #two, #three, #four, #five {
    display: none;
    font-size: 55px;
    font-weight: bold
}

#one {
    font-size: 400px;
}
    
#two {
    font-size: 100px;
    }

/* Privacy popup on first launch */

.title {
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: -25px;
    color: #000;
}

p.privacy {
    font-size: 13px;
}

p.privacy.last {
    margin-bottom: 30px;
}

/* Tappable graph points - only works in browser */

div.instructions_points {
    z-index: 100;
    position: relative;
}

div.instructions_popover {
    z-index: 200;
    position: absolute;
}

.invisible {
    display: none;
}
